    <footer class="text-center py-3 text-secondary-emphasis">
        Or Hadad & Igal Grinberg &copy; 2025<br>
        Created as part of the Advanced Software Development course.
    </footer>

</body>
</html>